---
layout: default
---

<div class="home">
  <h1 class="page-heading">{{ page.title | escape }}</h1>
  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            <span class="post-meta">
              {% if post.categories and post.categories.size > 0 %}
                <span class="post-categories">
                  {% for category in post.categories %}
                    <a href="/project/{{ category }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </span>
              {% endif %}
              |
              {{ post.date | date: "%Y-%m-%d" }}
            </span>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- RSS 구독 링크 제거됨 -->
</div>
